<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/tintuc.css">
    <link rel="stylesheet" href="../css/fontawesome-free-6.0.0-web/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/pageITC.png" type="image/x-icon">
    <title>Tin tức</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="show" style="margin-top: 90px;">
            <div id="header">
                <!-- logo -->
                <div class="header-logo" onclick="main()">
                    <img src="../image/logo ITC.jpg" alt="">
                    <p>ITC UNETI</p>
                </div>
                <!-- menu header -->
                <div class="header-menu">
                    <ul>
                        <li>
                            <i class="fa-solid fa-house"></i>
                            <a href="../home/main.html">Trang chủ</a>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-volume-high"></i> -->
                            <a href="">Hoạt động</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Văn hóa</a>
                                </li>
                                <li>
                                    <a href="">Văn nghệ</a>
                                </li>
                                <li>
                                    <a href="">Nghệ thuật</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-book"></i> -->
                            <a href="">Khóa học</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../khoahoc/detailkhoahocC++.html">C++</a>
                                </li>
                                <li>
                                    <a href="../khoahoc/detailkhoahocWeb.html">LT Web</a>
                                </li>
                                <li>
                                    <a href="../khoahoc/detailkhoahocAndroid.html">Android</a>
                                </li>
                                <li>
                                    <a href="../khoahoc/ortherkhoahoc.html">PHP</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-film"></i> -->
                            <a href="">Chương trình</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Tri ân</a>
                                </li>
                                <li>
                                    <a href="">Khuyến học</a>
                                </li>
                                <li>
                                    <a href="">Hội thảo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-toilet-paper"></i> -->
                            <a href="">Sự kiện</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../tintuc/chaotansv.html">Chào mừng</a>
                                </li>
                                <li>
                                    <a href="">Sinh nhật</a>
                                </li>
                                <li>
                                    <a href="">Khác</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-solid fa-phone"></i> -->
                            <a href="../home/contact.html">Liên hệ</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Hottel</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/InformationTechnologyClub.uneti">FanPage</a>
                                </li>
                                <li>
                                    <a href="https://khoacntt.uneti.edu.vn/">Website</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-solid fa-user"></i> -->
                            <a href="">Tài khoản</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../login/dangnhap.html">Đăng nhập</a>
                                </li>
                                <li>
                                    <a href="../login/dangky.html">Đăng ký</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- tìm kiếm -->
                <div class="header-search">
                    <div class="header-search-input">
                        <input type="text" name="search" id="search" placeholder="Tìm kiếm">
                    </div>
                    <div class="header-search-button">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="banner">
                <img src="../image/banner.jpg" alt="">
            </div>
        </div>
    </header>
    <main>
        <div id="main">
            <div class="tieude" style="height: 45px;">
                <p>Trang chủ » Khoa Công nghệ thông tin tổ chức cuộc thi "Thiết kế website" tháng 10 năm 2022</p>
            </div>
            <div class="main-news">
                <div class="news-item">
                    <p style="margin-top: 10px; font-size: 20px; color: #0775a1; margin-left: 10px; font-weight: bold;">
                        CUỘC THI THIẾT KẾ WEBSITE  - FRONT END DESIGN CONTEST.</p>
                    <div class="share">
                        <div class="left-item">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p class="date">Ngày đăng : 29/09/2022</p>
                            <i class="fa-solid fa-eye" style="margin-left: 10px;"></i>
                            <p>300 Lượt xem</p>
                        </div>
                        <div class="right-item">
                            <i class="fa-brands fa-facebook" style="background-color: rgb(0, 61, 107);"></i>
                            <i class="fa-brands fa-github" style="background-color  : rgb(50, 50, 50);"></i>
                            <i class="fa-solid fa-envelope" style="background-color: rgb(194, 74, 0);"></i>
                            <i class="fa-brands fa-twitter" style="background-color: rgb(0, 183, 255);"></i>
                        </div>
                    </div>
                    <div class="content">
                        <p class="texts">Hòa trong không khí vui tươi phấn khởi chào mừng năm học 2022-2023, hướng đến kỷ niệm 41 
                            năm ngày Nhà giáo Việt Nam và mục đích tạo môi trường học tập sáng tạo cho các em sinh viên, Liên chi 
                            Đoàn Khoa Công nghệ thông tin kết hợp cùng với Câu lạc bộ Tin học - ITC,
                             lên kế hoạch và chính thức triển khai cuộc thi “Thiết kế Website - Front end design contest”.</p>
                        <p class="texts h3">ĐỐI TƯỢNG DỰ THI : </p>
                        <p class="texts">Toàn bộ Sinh viên Khoa Công nghệ thông tin -  Trường Đại học Kinh tế - Kỹ thuật Công nghiệp.</p>
                        <p class="texts h3">THỜI GIAN: Từ ngày 29/09/2022 : </p>
                         <ul class="time">
                             <li>- Thời gian đăng ký dự thi: Từ ngày 29/09/2022 đến 23h59 ngày 01/10/2022</li>
                             <li>- Thời gian gửi bản thiết kế: Từ ngày 02/10/2022 đến 23h59 ngày 08/10/2022</li>
                             <li>- Thời gian gửi sản phẩm: Từ ngày 09/10/2022 đến 23h59 ngày 22/10/2022</li>
                             <li>- Thời gian bình chọn: Từ ngày 23/10/2022 đến 23h59 ngày 24/10/2022</li>
                             <li>- Thời gian báo cáo bài thi: ngày 24/10/2022</li>
                             <li>- Thời gian công bố giải thưởng: ngày 25/10/2022</li>
                         </ul>
                        <img src="../image/frontend.jpg" alt="" width="586px" style="margin-top: 10px;">
                        <p class="texts">”Front end design contest” được xem là sân chơi mới lạ, là cuộc thi về thiết kế Website đầu tiên được tổ 
                            chức bởi Liên chi Đoàn Khoa Công nghệ thông tin - Câu lạc bộ Tin học cùng với sự phối hợp của các nhà tài trợ.</p>
                        <p class="texts">Đây là cơ hội để các bạn có đam mê với lập trình Website và yêu thích sự sáng tạo trong thiết kế được 
                            thể hiện khả năng của mình. Hứa hẹn đây sẽ là sân
                             chơi cực kỳ bổ ích giúp các bạn có thể học hỏi, cọ xát và có thêm nhiều kinh nghiệm trong lĩnh vực chuyên ngành.</p>                      
                        <p class="texts h3"> TỔNG GIÁ TRỊ GIẢI THƯỞNG CUỘC THI LÊN ĐẾN 40.000.000 đồng. Cụ thể tổng giá trị các giải như sau :  </p>
                        <ul class="time">
                            <li>-  Giải nhất: 1.000.000đ + 01 suất học bổng toàn phần (trị giá 12.000.000/suất) từ Viện CNTT ITplus + 
                                01 đồng hồ đến từ hãng Delta trị giá 500.000đ</li>
                            <li>- Giải nhì: 800.000đ + 01 suất học bổng 70% (trị giá 8.400.000/suất) từ Viện CNTT ITplus + 01 đồng hồ
                                 đến từ hãng Delta trị giá 500.000đ</li>
                            <li>- Giải ba: 700.000đ + 01 suất học bổng 65% (trị giá 7.800.000/suất) từ Viện CNTT ITplus + 01 đồng hồ
                                 đến từ hãng Delta trị giá 500.000đ</li>
                            <li>- Giải khuyến khích: 500.000đ + 01 Voucher 1.000.000đ từ Viện CNTT ITplus + 01 áo khoác đến từ hãng 
                                Wisenet trị giá 300.000đ</li>
                            <li>- 1 Giải Yêu thích nhất: 300.000đ + 01 Voucher 1.000.000đ từ Viện CNTT ITplus + 01 áo khoác đến từ hãng Wisenet trị giá 300.000đ</li>
                        </ul>
                        <p class="texts">Ngoài ra Viện Công nghệ thông tin ITPlus tài trợ Voucher trị giá 500.000 cho tất cả các bạn sinh viên đăng ký tham gia.</p>
                        <p class="texts">BTC cuộc thi “Thiết kế Website - Front end design contest” trân trọng gửi lời cảm ơn đến các đơn vị tài trợ: Công ty cổ phần
                            thương mại Việt Nét, Công ty Innotel, thương hiệu Wisenet, thương hiệu Delta, Viện Công nghệ thông tin ITPlus</p>
                        <img src="../image/giaithuong.jpg" alt="" width="586px">                     
                        <p class="texts">Link đăng ký dự thi : <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fforms.gle%2Ff3h59bLRGgvY2PdK7%3Ffbclid%3DIwAR3q-Oth9MWNwqZSIuG6sIpCWYfpD-nxKFm_RKNBhfTc7oanH5ZgptIKGEg&h=AT2rtADrSB2iOzYE7h3-3GtgRGZ1lnM1IUISapiQqEUe9zw9Sgj_DnzeGRyLgAxfMRkBbKf5KhG4O5H1Te3t6aYX-B4K2gUgphlNUAnUspyCMCP3b0TBaOXTxAafZCRQ6zfa&__tn__=-UK-R&c[0]=AT2S6NRRQ_cqRTPSMolGdh01KhwupdLGdXaBgLdqJKKuCoxzR8pX3vuGkMcotlQyP3TlpaRlpjq0zaD2-1DhY-v34-qeA9UgIrkbPkhWs5UaGRV8oYp0_KxpR4qwXstXyWHe8EahbZ87D-q4qsfcB8wtkNqrGo4TMhsWIMhitBZWiKinNcCOOkQ0EBYsrltiPwZJLLCYoQoa">Đăng ký tại đây.</a></p>  
                    </div>
                </div>
                <div class="baiviet-fixed">
                    <div class="news-baiviet">
                        <div class="titles">
                            <p>BÀI VIẾT NỔI BẬT</p>
                        </div>
                        <div class="baiviet">
                            <i class="fa-solid fa-fire-flame-curved"
                                style="color: red; font-size: 10px; margin-right: 10px;margin-top: 8px;"></i>
                            <a href="">Khoa Công nghệ thông tin tổ chức cuộc thi "Thiết kế website" tháng 10 năm 2022
                            </a>
                        </div>
                        <div class="baiviet">
                            <i class="fa-solid fa-fire-flame-curved"
                                style="color: red; font-size: 10px; margin-right: 10px;margin-top: 8px;"></i>
                            <a href="https://www.facebook.com/InformationTechnologyClub.uneti/posts/477376864428012:0"
                                target="blank"> Chuyến tàu ITC xin chính thức thông báo, tuyển thành viên ĐỘI TÌNH NGUYỆN
                                ITVT - ITC.</a>
                        </div>
                        <div class="baiviet">
                            <i class="fa-solid fa-fire-flame-curved"
                                style="color: red; font-size: 10px; margin-right: 10px;margin-top: 8px;"></i>
                            <a href="../tintuc/chaotansv.html">Chào mừng các bạn Tân sinh viên K16 Khoa Công nghệ thông tin
                                chính thức trở thành thành viên trong mái nhà chung UNETI. Sáng nay, ngày 9/10/2022, Khoa
                                Công nghệ thông tin Trường Đại học Kinh tế - Kỹ thuật Công Nghiệp đã tổ chức thành công
                                buổi lễ chào Tân sinh viên tại cơ sở Lĩnh Nam và cơ sở Nam Định. </a>
                        </div>
                        <div class="baiviet">
                            <i class="fa-solid fa-fire-flame-curved"
                                style="color: red; font-size: 10px; margin-right: 10px;margin-top: 8px;"></i>
                            <a href="">Theo một khảo sát mới nhất của YouGov thế hệ Genz đã chọn “Công nghệ thông tin - Vua
                                của mọi nghề”.
                                Vậy để bắt nhịp cùng xu hướng chuyển đổi số và đặc biệt mở rộng các góc nhìn 360 độ về công
                                nghệ thông tin thì không phải ai cũng biết. </a>
                        </div>
                        <div class="baiviet">
                            <i class="fa-solid fa-fire-flame-curved"
                                style="color: red; font-size: 10px; margin-right: 10px;margin-top: 8px;"></i>
                            <a href="../tintuc/chaotansv.html"> Sáng ngày 9/10/2022, Khoa Công nghệ thông tin
                                Trường ĐH Kinh tế - Kỹ thuật CN đã tổ chức
                                thành công buổi lễ chào Tân sinh viên tại cơ sở Lĩnh Nam
                                và cơ sở Nam Định.</a>
                        </div>
                        <div class="baiviet">
                            <i class="fa-solid fa-fire-flame-curved"
                                style="color: red; font-size: 10px; margin-right: 10px;margin-top: 8px;"></i>
                            <a href=""> Liên chi Đoàn Khoa Công nghệ thông tin cùng với Câu lạc bộ Tin học - ITC
                                đã
                                tham gia Lễ ra quân Công trình thanh niên “Tranh tường Bích họa”. Với mục tiêu
                                đẩy
                                mạnh các phong trào hoạt động sôi nổi của Đoàn viên Thanh niên Nhà trường.</a>
                        </div>
                    </div>
                    <div class="news-baiviet" style="margin-top: 10px; height: 350px;">
                        <div class="titles">
                            <p>SỰ KIỆN</p>
                        </div>
                        <div class="sukien">
                            <div class="item-sukien">
                                <img src="../image/thumb.jfif" alt="">
                                <p>Tân sinh viên Uneti nộp hoàn thiện hồ sơ nhập học và khám sức khỏe đầu năm học mới</p>
                            </div>
                            <div class="item-sukien">
                                <img src="../image/thumb.png" alt="">
                                <p>Phòng Chính trị và Công tác sinh viên, phối hợp với Đoàn Thanh niên – Hội Sinh viên tổ chức trao tặng áo 5S cho sinh viên, tình nguyện viên tích
                                     cực tham gia hoạt động tuyên truyền nếp sống “Văn hóa học đường sinh viên UNETI” theo mô hình quản lý 5Sss</p>
                            </div>
                            <div class="item-sukien">
                                <img src="../image/thumb (1).jfif" alt="">
                                <p>
                                    Vinh danh tháng 10 sinh viên là Cán bộ lớp, sinh viên tiêu biểu xuất sắc có nhiều đóng
                                     góp cho phong trào sinh viên hoàn thành xuất sắc nhiệm vụ tháng 9 năm 2022!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="news-baiviet" style="margin-top: 20px; height: 320px; overflow: hidden;">
                        <div class="titles">
                            <p>BẢN TIN ITC</p>
                        </div>
                        <div class="news-items">
                            <div class="slides">
                                <input type="radio" name="node" id="node1" checked>
                                <input type="radio" name="node" id="node2">
                                <input type="radio" name="node" id="node3">
                                <div class="baiviet slide s1">
                                    <video width="342" height="240" controls>
                                        <source src="../image/video.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div class="baiviet slide" style="margin-left: -10px;">
                                    <video width="342" height="240" controls>
                                        <source src="../image/trian.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div class="baiviet slide" style="margin-left: -10px;">
                                    <video width="342" height="240" controls>
                                        <source src="../image/5k.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="scrol-slide">
                                <label for="node1" class="bar"></label>
                                <label for="node2" class="bar"></label>
                                <label for="node3" class="bar"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tin tức liên quan -->
            <div class="baiviets">
                <div class="baivietlienquans">
                    <h2>TIN TỨC LIÊN QUAN</h2>
                    <ul>
                        <li><a href="">Đại hội chi Bộ Khoa công nghệ thông tin nhiêm kỳ 2022-2025 được tổ chức thanh
                                công tốt đẹp</a></li>
                        <li><a href="">Vũ Thành Đạt sinh viên lớp DHTI13A3HN - Thủ lĩnh lớp năng động , nhiệt huyết và
                                tràn đầy tự tin</a></li>
                        <li><a href="">Sinh viên Khoa CNTT tham gia Kỳ thi Olympic Tin học sinh viên Việt Nam lần thứ
                                30</a></li>
                        <li><a href="">CLB Tin học Khoa CNTT tổ chức cuộc thi thiết kế Website dành cho tất cả các sinh
                                viên Khoa CNTT tham gia</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="footer" class="footer">
            <div class="footer-info">
                <div class="item item-mxh">
                    <h2>BẢN ĐỒ</h2>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d879.0544101105305!2d105.87581488326713
                        !3d20.98050327574451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135afd765
                    487289%3A0x21bd5839ba683d5f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBLaW5oIFThur8gLSBL4bu5IF
                    RodeG6rXQgQ8O0bmcgTmdoaeG7h3A!5e0!3m2!1svi!2s!4v1664448534285!5m2!1svi!2s" width="300" height="150"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="item item-ttlh">
                    <h2>THÔNG TIN LIÊN HỆ</h2>
                    <p class="text">
                        <i class="fa-solid fa-phone-volume phone"></i>
                        024.38621504
                    </p>
                    <p>
                        <i class="fa-solid fa-envelope mail"></i>
                        web@uneti.edu.vn
                    </p>
                    <p>
                        <i class="fa-solid fa-location-dot map"></i>
                        218 Đ.Lĩnh Nam, Q.Hoàng Mai, TP.Hà Nội
                    </p>
                    <p>
                        <i class="fa-solid fa-location-dot map"></i>
                        456 Minh Khai, Vĩnh Tuy, HBT, Hà Nội
                    </p>
                </div>
                <div class="item item-noidung">
                    <h2>VỀ CHÚNG TÔI</h2>
                    <p>
                        Một ITC năng động hơn, sáng tạo hơn khi là nơi
                        nối kết các bạn có thể học hỏi,
                        cùng nhau trao đổi và qua đó yêu ITC nhiều hơn.
                    </p>
                </div>
            </div>
            <div class="footer-reserved">
                <i class="fa-solid fa-c"
                    style="border: 2px solid white; font-size: 16px; border-radius: 50%; width: 20px; padding: 3px;"></i>
                <p>Desgin by <span>2IMNGHIA - Trần Trung Nghĩa</span> | All Rights Reserved !</p>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </a>
    <script src="../js/app.js"></script>
</body>

</html>