<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/docsach.css">
    <link rel="stylesheet" href="../css/fontawesome-free-6.0.0-web/css/all.css">
    <link rel="shortcut icon" href="../image/pageITC.png" type="image/x-icon">
    <title>Đọc sách cùng ITC</title>
</head>

<body>
    <header>
        <div class="show" style="margin-top: 90px;">
            <div id="header">
                <!-- Logo ITC -->
                <div class="header-logo" onclick="main()">
                    <img src="../image/logo ITC.jpg" alt="">
                    <p>ITC UNETI</p>
                </div>
                <!-- Menu header -->
                <div class="header-menu">
                    <ul>
                        <li>
                            <i class="fa-solid fa-house"></i>
                            <a href="../home/main.html">Trang chủ</a>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-volume-high"></i> -->
                            <a href="">Hoạt động</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Văn hóa</a>
                                </li>
                                <li>
                                    <a href="">Văn nghệ</a>
                                </li>
                                <li>
                                    <a href="">Nghệ thuật</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-book"></i> -->
                            <a href="">Khóa học</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../khoahoc/detailkhoahocC++.html">C++</a>
                                </li>
                                <li>
                                    <a href="../khoahoc/detailkhoahocWeb.html">LT Web</a>
                                </li>
                                <li>
                                    <a href="../khoahoc/detailkhoahocAndroid.html">Android</a>
                                </li>
                                <li>
                                    <a href="../khoahoc/ortherkhoahoc.html">PHP</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-film"></i> -->
                            <a href="">Chương trình</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Tri ân</a>
                                </li>
                                <li>
                                    <a href="">Khuyến học</a>
                                </li>
                                <li>
                                    <a href="">Hội thảo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-sharp fa-solid fa-toilet-paper"></i> -->
                            <a href="">Sự kiện</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../tintuc/chaotansv.html">Chào mừng</a>
                                </li>
                                <li>
                                    <a href="">Sinh nhật</a>
                                </li>
                                <li>
                                    <a href="">Khác</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-solid fa-phone"></i> -->
                            <a href="../home/contact.html">Liên hệ</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Hottel</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/InformationTechnologyClub.uneti">FanPage</a>
                                </li>
                                <li>
                                    <a href="https://khoacntt.uneti.edu.vn/">Website</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub">
                            <!-- <i class="fa-solid fa-user"></i> -->
                            <a href="">Tài khoản</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../login/dangnhap.html">Đăng nhập</a>
                                </li>
                                <li>
                                    <a href="../login/dangky.html">Đăng ký</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Tìm kiếm -->
                <div class="header-search">
                    <div class="header-search-input">
                        <input type="text" name="search" id="search" placeholder="Tìm kiếm">
                    </div>
                    <div class="header-search-button">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Banner chào tân SV K16 -->
            <div class="banner">
                <img src="../image/banner.jpg" alt="">
            </div>
        </div>
    </header>
    <main>
        <div class="title-khoahocs">
            <div class="tieude">
                <p>Trang chủ » Đọc sách » Sách học lập trình Java cơ bản</p>
            </div>
        </div>
        <div id="main">
            <!-- Nội dung về SÁCH -->
            <div class="main-right">
                <div class="khoahocandroid" id="khoahocandroid">
                    <!-- Nội dung 1 -->
                    <div class="main-right-top">
                        <div class="right-image">
                            <div class="item-img">
                                <div class="img-big">
                                    <img src="../image/sachjava.jpg" alt="" class="img-feature">
                                </div>
                            </div>
                        </div>
                        <div class="right-detail">
                            <div class="detail-top">
                                <h3>Sách học lập trình Java</h3>
                                <div class="like_share">
                                    <button name="btn-like" class="btn-like" id="btn-like"><i class="fa-solid fa-thumbs-up"></i> Thích 5</button>
                                    <button name="btn-share" class="btn-share" id="btn-share"><i class="fa-solid fa-share"></i> Chia sẻ</button>
                                </div>
                                <p class="dates">Tác giả : <span>Nguyễn Văn Thành</span></p>
                                <p>Thể loại : <span> Công nghệ thông tin</span></p>
                                <p>Lượt đọc : <span>1221</span></p>
                                <a href="">Xem phụ lục</a>
                                <br>
                                <div class="doc_sach">
                                    <a href="../image/sachjava.pdf" target="blank"><button name="btn-pdf" class="btn-pdf" id="btn-pdf">PDF</button></a>
                                    <button name="btn-online" class="btn-online" id="btn-online">Đọc online</button>
                                </div>
                                <div class="icon_share">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Nội dung 2 -->
                    <div class="main-right-bottom">
                        <div class="title-bottom">
                            <h3>Giới thiệu sách</h3>
                        </div>
                        <div class="content-bottom">
                            <p style="color: #000;"> Bộ sách Sáng tạo trong thuật toán và lập trình, gồm 6 tập cung cấp 
                                những kiến cơ bản về lập trình trong cho các bạn học sinh, sinh viên và những bạn đọc muốn
                                 hoàn thiện tri thức trong lĩnh vực giải thuật và lập trình.  Các kỹ thuật lập tình được 
                                 minh họa qua những bài toán cụ thể tương đương với trình độ nâng cao của học sinh và sinh
                                  viên.Các kỹ thuật lập trình và phương pháp xây dựng thuật giải cho những bài toán thường
                                   được dùng rộng rãi trong quá trình thiết kế và cài đặt các phần mềm ứng dụng trong thực
                                    tiễn, Vì vậy việc sớm làm chủ các tri thức này mới thật sự là cần thiết. 
                                Tập 6 tiếp theo tập 5 hướng dẫn giải từ bài 26 đến bài 50 trong dự án Euler, là một trang 
                                Web giới thiệu các bài toán tin cần được giải trên máy tính</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bài viết sách liên quan -->
            <div class="main-left">
                <div class="left-khoahoclienquan">
                    <div class="title-khoahoc">
                        <h3>CÁC SÁCH LIÊN QUAN</h3>
                    </div>
                    <!-- Show các sách-->
                    <div class="item-khoahoc">
                        <div class="item-k" style="margin-left: 0px;">
                            <div class="images">
                                <img src="../image/laptrinhweb.jpg" alt="">
                            </div>
                            <div class="content">
                                <p>Sách học lập trình Web</p>
                                <p>Tác giả :<span> Jennifer Robbins</span></p>
                                <p>Thể loại : <span> CNTT</span></p>
                                <button name="btn-view" class="btn-view" id="detail-khoahoc">Xem ngay</button>
                            </div>
                        </div>
                        <div class="item-k" style="margin-left: 20px;">
                            <div class="images">
                                <img src="../image/ltnet.jpg" alt="">
                            </div>
                            <div class="content">
                                <p>Sách học lập trình .NET</p>
                                <p>Tác giả : <span> Nguyễn Văn Cương</span></p>
                                <p>Thể loại : <span> CNTT</span></p>
                                <button name="btn-view" class="btn-view" id="sachltnet" onclick="sachLTNet()">Xem ngay</button>
                            </div>
                        </div>
                        <div class="item-k" style="margin-left: 0px;">
                            <div class="images">
                                <img src="../image/python.jpg" alt="">
                            </div>
                            <div class="content">
                                <p>Sách học Python cơ bản</p>
                                <p>Tác giả :<span> Võ Duy Tuấn</span></p>
                                <p>Thể loại :<span> CNTT</span></p>
                                <button name="btn-view" class="btn-view" id="detail-khoahoc">Xem ngay</button>
                            </div>
                        </div>
                        <div class="item-k" style="margin-left: 30px;">
                            <div class="images">
                                <img src="../image/sachltc.png" alt="">
                            </div>
                            <div class="content">
                                <p>Sách học lập trình C++</p>
                                <p>Tác giả :<span>Nguyễn Ngọc Cương</span></p>
                                <p>Thể loại :<span> CNTT</span></p>
                                <button name="btn-view" class="btn-view" id="sachc++" onclick="sachC()">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div id="footer" class="footer">
            <div class="footer-info">
                <div class="item item-mxh">
                    <h2>BẢN ĐỒ</h2>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d879.0544101105305!2d105.87581488326713
                        !3d20.98050327574451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135afd765
                    487289%3A0x21bd5839ba683d5f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBLaW5oIFThur8gLSBL4bu5IF
                    RodeG6rXQgQ8O0bmcgTmdoaeG7h3A!5e0!3m2!1svi!2s!4v1664448534285!5m2!1svi!2s" width="300" height="150"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="item item-ttlh">
                    <h2>THÔNG TIN LIÊN HỆ</h2>
                    <p class="text">
                        <i class="fa-solid fa-phone-volume phone"></i>
                        024.38621504
                    </p>
                    <p>
                        <i class="fa-solid fa-envelope mail"></i>
                        web@uneti.edu.vn
                    </p>
                    <p>
                        <i class="fa-solid fa-location-dot map"></i>
                        218 Đ.Lĩnh Nam, Q.Hoàng Mai, TP.Hà Nội
                    </p>
                    <p>
                        <i class="fa-solid fa-location-dot map"></i>
                        456 Minh Khai, Vĩnh Tuy, HBT, Hà Nội
                    </p>
                </div>
                <div class="item item-noidung">
                    <h2>VỀ CHÚNG TÔI</h2>
                    <p>
                        Một ITC năng động hơn, sáng tạo hơn khi là nơi
                        nối kết các bạn có thể học hỏi,
                        cùng nhau trao đổi và qua đó yêu ITC nhiều hơn.
                    </p>
                </div>
            </div>
            <div class="footer-reserved">
                <i class="fa-solid fa-c"
                    style="border: 2px solid white; font-size: 16px; border-radius: 50%; width: 20px; padding: 3px;"></i>
                <p>Desgin by <span>2IMNGHIA - Trần Trung Nghĩa</span> | All Rights Reserved !</p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- Button Back to top  -->
    <a href="#" class="back-to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </a>
    <script src="../js/app.js"></script>
    <script>
        function showForm() {
            if (document.getElementById('form-dky').style.display === "none") {
                document.getElementById('form-dky').style.display = "block"
            }
            else {
                document.getElementById('form-dky').style.display = "none"
            }
        }

        function khoahocPTS() {
            if (document.getElementById('khoahocC').style.display === "none") {
                document.getElementById('khoahocC').style.display = "block"
                // document.getElementById('khoahocandroid').style.display = "none"
            }
            else {
                document.getElementById('khoahocC').style.display = "none"
                // document.getElementsByClassName('khoahocandroid').style.display = "block"
            }
        }
    </script>
</body>

</html>